body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ffb300;
}
.konvert-box{
    width: 280px;
    position: fixed;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f4511e;
}
.textbox{
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ffb300;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(7, 2, 77);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.textbox select{
    border: none;
    outline: none;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 85%;
    float: left;
    margin: 0 10px;
}
.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}